
.blog-header{
    width: 100%;
    height: 20rem;
    background: #000000ba;
}

.blog-header-title{
    display: block;
    color: #fff;
    padding-top: 5rem;
    font-size: 2.5rem;
    position: relative;
}

.blog-header img{
    position: absolute;
    display: block;
    opacity: .5;
    height: 20rem;
    width: 100%;
}

.blog-header-bot{
    position: absolute;
    display: block;
    float: left;
    height: auto;
    width: 100%;
    padding-left:10%;
    padding-right: 10%;
    margin: 20px auto;
    text-align: center;
    box-sizing: border-box;
    z-index: 2;
}

.blog-header-bot span{
    height: auto;
    margin: 10px;
    color: #fff;
    font-size: 20px;
}

.blog-code{
    height: 20px;
    line-height: 20px;
    padding: 3px;
    color: 	#FFF5EE !important;
    border: 1px solid 	#FF4500;
    background: #FF7F50;
    border-radius: 5px;
    font-size: 14px !important;
}

.blog-main{
    position: relative;
    width: 100%;
    min-height: 10rem;
    margin-top: -7rem;
}

.blog-main-article{
    width: 70%;
    min-height: 5rem;
    margin: 1rem auto;
    padding: 2rem;
    background: #ffffffe3;
    color: #4c4c4c;
    border-radius: .5rem;
    border-top: .3rem solid #00b5ad;
    box-shadow: .1rem .05rem .6rem #7bf5ef
}

.blog-article{
    padding: 1rem 0;
    margin-bottom: 60px;
}
.rqcodep{
    width: 100px;
    height: 100px;
}


.blog-content-footer{
    width: 30%;
    margin: 15px auto;
    display: flex;
}
.blog-content-footer>div{
    flex: 1;
}
.blog-message{
    width: 74%;
    margin: 0 auto;
    background: #ffffffe3;
    color: #4c4c4c;
    border-radius: .5rem;
    box-shadow: .1rem .05rem .6rem #7bf5ef
}

.blog-username{
    margin-top: 1rem;
    margin-right: .5rem;
    width: 70%;
}


.blog-main-content{
    width: 100%;
    min-height: 5rem;
    margin: 1rem auto;
    padding: 0 2rem 2rem;
    box-sizing: border-box;
    border-radius: .4rem;
}

.blog-main-content>h2{
    width: 100%;
    margin: 1rem auto;
    color: #303133;
    font-size: 2rem;
    text-align: left;
}

.blog-content{
    width: 100%;
    min-height: 5rem;
    padding: 1rem 0;
}

.blog-content img{
    display: block;
    float: left;
    width: 5%;
    border-radius: 50%;
}

.blog-content-right{
    position: relative;
    z-index: 2;
    float: left;
    width: 95%;
    min-height: 3rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.blog-content-right span{
    display: block;
    float: left;
    text-align: left;
}

.blog-content-right span:nth-child(1){
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 .5rem;
    color: #303133;
    font-size: 1.2rem;
    font-weight: 700;
    transition: .2s;
    cursor: pointer;
}

.blog-content-right span:nth-child(1):hover{
    color: #409eff;
}

.blog-content-right span:nth-child(2){
    height: 1.5rem;
    line-height: 1.8rem;
    font-size: .8rem;
    color: #909399;
}

.blog-content-details{
    width: 100%;
    min-height: 1.5rem;
    margin: 3rem .3rem .3rem .3rem;
    font-size: 1rem;
    text-align: left;
}
.blog-content-answer{
    text-align: left;
    height: 1rem;
    margin-left: .3rem ;
    font-size: .8rem;
    color: #909399;
    cursor: pointer;
}
.blog-content-answer-bind{
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    min-height: 3rem;
    margin-left: 2.5%;
    padding: .15rem 0 1rem 2rem;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}
.blog-content-answer-bind span{
    display: block;
    float: left;
}

.blog-content-answer-bind span:nth-child(2){
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 .5rem;
    color: #303133;
    font-size: 1.2rem;
    font-weight: 700;
    transition: .2s;
    cursor: pointer;
}

.blog-content-answer-bind span:nth-child(2):hover{
    color: #409eff;
}

.blog-content-answer-bind span:nth-child(3){
    height: 1.5rem;
    line-height: 1.8rem;
    font-size: .8rem;
    color: #909399;
}
pre{
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word;
}
