.message-header{
    width: 100%;
    height: 15rem;
    background: #000000ba;
}

.message-header span{
    display: block;
    color: #fff;
    padding-top: 5rem;
    opacity: 1;
    font-size: 2.5rem;
    position: relative;
}

.message-header img{
    position: absolute;
    display: block;
    opacity: .5;
    height: 15rem;
    width: 100%;
}

.message-main{
    position: relative;
    width: 70%;
    min-height: 10rem;
    margin: -5rem auto;
    background: #ffffffe3;
    color: #4c4c4c;
    border-radius: .5rem;
    box-shadow: .1rem .05rem .6rem #7bf5ef
}

.message-main-header{
    width: 100%;
    min-height: 5rem;
    margin: 1rem auto;
    border-radius: .5rem;
}

.el-textarea__inner{
    padding: 1rem;
    background-color: #ffffffe3;
    min-height: 8rem !important;
}
.message-username{
    width: 50% !important;
    margin: 1rem;
    height: 2.3rem;
    background-color: #ffffffe3;
    border-radius: .5rem;
}

.message-main-content{
    width: 100%;
    min-height: 5rem;
    margin: 1rem auto;
    padding: 0 2rem 2rem;
    box-sizing: border-box;
    border-top: .2rem solid #00b5ad;
    border-bottom: .2rem solid #00b5ad;
    border-radius: .4rem;
}

.message-main-content>h2{
    width: 100%;
    margin: 1rem auto;
    color: #303133;
    font-size: 2rem;
    text-align: left;
}

.message-content{
    width: 100%;
    min-height: 5rem;
    padding: 1rem 0;
}

.message-content img{
    display: block;
    float: left;
    width: 5%;
    border-radius: 50%;
}

.message-content-right{
    position: relative;
    z-index: 2;
    float: left;
    width: 95%;
    min-height: 3rem;
    padding-left: 1rem;
    padding-bottom: 1rem;
    box-sizing: border-box;
}

.message-content-right span{
    display: block;
    float: left;
    text-align: left;
}

.message-content-right span:nth-child(1){
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 .5rem;
    color: #303133;
    font-size: 1.2rem;
    transition: .2s;
    cursor: pointer;
}

.message-content-right span:nth-child(1):hover{
    color: #409eff;
}

.message-content-right span:nth-child(2){
    height: 1.5rem;
    line-height: 1.8rem;
    font-size: .8rem;
    color: #909399;
}

.message-content-details{
    width: 100%;
    min-height: 1.5rem;
    margin: 2rem .3rem .3rem .3rem;
    font-size: 1rem;
    text-align: left;
}
.message-content-answer{
    text-align: left;
    height: 1rem;
    margin-left: .3rem ;
    font-size: .8rem;
    color: #909399;
    cursor: pointer;
}
.message-content-answer-bind{
    position: relative;
    z-index: 1;
    float: left;
    width: 100%;
    min-height: 3rem;
    margin-left: 2.5%;
    padding: .15rem 0 1rem 2rem;
    border-left: 1px solid #ccc;
    box-sizing: border-box;
}
.message-content-answer-bind span{
    display: block;
    float: left;
}

.message-content-answer-bind span:nth-child(2){
    height: 1.5rem;
    line-height: 1.5rem;
    margin: 0 .5rem;
    color: #303133;
    font-size: 1.2rem;
    transition: .2s;
    cursor: pointer;
}

.message-content-answer-bind span:nth-child(2):hover{
    color: #409eff;
}

.message-content-answer-bind span:nth-child(3){
    height: 1.5rem;
    line-height: 1.8rem;
    font-size: .8rem;
    color: #909399;
}
pre{
    white-space:pre-wrap;
    white-space:-moz-pre-wrap;
    white-space:pre-wrap;
    white-space:-o-pre-wrap;
    word-wrap:break-word;
}
