/*init.style*/

a,
article,
body,
div,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
html,
iframe,
img,
input,
li,
p,
section,
span,
textarea,
ul,
video {
    margin: 0;
    padding: 0;
}


/*公共css*/

.forbid-transition {
    transition: none !important;
}


/*控制器综合*/

.audioplayer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3.8rem;
    white-space: nowrap;
    background-color: #1d1d1d99;
    color: #737A7C;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 104;
}

.audioplayer .ap-status {
    position: relative;
    margin: 0 auto;
    width: 80%;
}

.audioplayer .ap-controller {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
}

.audioplayer .ap-button {
    cursor: pointer;
    transition: 0.2s;
}

.audioplayer .ap-controller .ap-controller-left>*,
.audioplayer .ap-controller .ap-controller-right>* {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    vertical-align: middle;
}

svg:not(:root) {
    overflow: hidden;
}

.audioplayer svg:not(.ap-svg-exclude) {
    width: 2rem;
    height: 2rem;
    vertical-align: middle;
    transition: 0.2s;
    margin-left: .8rem;
}

.audioplayer .ap-progress-thumb svg {
    width: 21px;
    height: 19px;
    display: block;
    cursor: pointer;
}

.audioplayer .ap-controller .ap-controller-center .ap-buffer-bar,
.audioplayer .ap-controller .ap-controller-center .ap-progress-bar {
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
}


/*left*/

.audioplayer .ap-controller-left .ap-cover {
    width: 3.8rem;
    height: 3.8rem;
    background: #E7E7E7;
    -webkit-background-size: 100% 100%;
    background-size: 100% 100%;
    cursor: pointer;
}


/*center*/

.audioplayer .ap-controller-center {
    padding: 1rem 1rem;
    display: flex;
    flex: 1;
    flex-direction: column;
    overflow: hidden;
}

.audioplayer .ap-controller-center .ap-song-msg {}

.audioplayer .ap-controller-center .ap-song-msg {
    display: flex;
    flex: 1;
    align-items: center;
}

.audioplayer .ap-controller-center .ap-song-msg .ap-name {
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.audioplayer .ap-controller-center .ap-song-msg .ap-artist {
    font-size: 12px;
    margin-left: 6px;
    cursor: default;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    text-overflow: ellipsis;
}

.audioplayer .ap-controller-center .ap-song-msg .ap-time {
    font-size: 12px;
    flex: 1;
    text-align: right;
    cursor: default;
    min-width: 110px;
}

.audioplayer .ap-controller-center .ap-song-msg .ap-time .ap-current-time {
    color: #fff;
}

.audioplayer .ap-controller-center .ap-progress-line {
    flex: 1;
    display: flex;
    align-items: center;
}

.audioplayer .ap-controller-center .ap-play-track {
    position: relative;
    width: 100%;
    height: 3px;
}

.audioplayer .ap-controller-center .ap-play-bar-wrap {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 1.5px;
    overflow: hidden;
    background: #909090;
}

.audioplayer .ap-controller-center .ap-buffer-bar {
    background: rgba(50, 176, 218, 0.47);
}

.audioplayer .ap-controller-center .ap-progress-bar {
    background: #32B0DA;
    ;
}

.audioplayer .ap-controller .ap-controller-center .ap-progress-thumb {
    transition: -webkit-transform 0.5s linear;
    transition: transform 0.5s linear;
    transition: transform 0.5s linear, -webkit-transform 0.5s linear;
    position: absolute;
    top: -5px;
    left: -4px;
}


/*right*/

.audioplayer .ap-controller-right {
    padding: 0 1rem;
}

.audioplayer .ap-controller-right .ap-line {
    font-size: 2rem;
    padding: 0 .5rem;
    cursor: default;
}

.audioplayer .ap-controller-right .ap-button {
    padding: 0 .5rem;
}

.audioplayer .ap-controller-right .ap-volume-line {
    width: 6rem;
    margin-right: .8rem;
    height: 2rem;
}

.audioplayer .ap-controller-right .ap-line-draw {
    height: 2rem;
    width: 1px;
    background: #979797;
}

.audioplayer .ap-controller-right .ap-volume-track {
    position: relative;
    width: 100%;
    height: 3px;
}

.audioplayer .ap-controller-right .ap-volume-bar-wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 1.5px;
    overflow: hidden;
    background: #909090;
}

.audioplayer .ap-controller-right .ap-volume-bar {
    position: absolute;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #32B0DA;
}

.audioplayer .ap-controller-right .ap-volume-thumb {
    position: absolute;
    top: -4px;
    left: -6px;
    cursor: pointer;
}

.audioplayer .ap-controller-right .ap-volume-thumb-dot {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background: #32B0DA;
    -webkit-transform: scale(0);
    transform: scale(0);
    transition: 0.2s;
}

.audioplayer .ap-controller-right .ap-volume-line:hover .ap-volume-thumb-dot {
    transform: scale(1);
}

.audioplayer .ap-controller-right .ap-playlist-button-bg {
    height: 28px;
    border-radius: 14px;
    padding: 0 8px 0 6px;
}

.audioplayer .ap-controller-right .ap-playlist-button-amount {
    color: #fff;
    font-size: 12px;
    vertical-align: middle;
    transition: 0.2s;
}


/*提示区*/

.audioplayer .ap-toast {
    position: absolute;
    bottom: 72px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: #fff;
    opacity: 1;
    pointer-events: none;
    transition: 0.3s;
}

.audioplayer .ap-toast-hide {
    opacity: 0;
    -webkit-transform: translate(-50%, 12px);
    transform: translate(-50%, 12px);
}


/*播放列表*/

.ps {
    /*overflow: hidden !important;*/
    overflow-y: scroll;
    overflow-anchor: none;
    -ms-overflow-style: none;
    touch-action: auto;
    -ms-touch-action: auto;
}

ol {
    padding: 0;
    margin: 0;
}

.audioplayer .ap-playlist {
    width: 620px;
    position: absolute;
    right: 0;
    bottom: 60px;
    background-color: #384245;
    border-radius: 6px 6px 0 0;
    transition: 0.3s;
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    color: rgba(255, 255, 255, 0.4);
    font-weight: lighter;
}

.audioplayer .ap-playlist.ap-playlist-hide {
    bottom: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
}

.audioplayer .ap-playlist .ap-playlist-header {
    padding: 16px 20px 16px 20px;
    display: flex;
    cursor: default;
}

.audioplayer .ap-playlist .ap-playlist-header .ap-playlist-header-name {
    flex: 1;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.audioplayer .ap-playlist-header .ap-playlist-header-close {
    font-size: 14px;
    margin-left: 20px;
}

.audioplayer .ap-playlist .ap-playlist-body {
    position: relative;
    background-color: #455155;
    height: 31rem;
    overflow: scroll;
}

.audioplayer .ap-playlist .ap-playlist-body::-webkit-scrollbar{
    display: none;
}

.audioplayer .ap-playlist .ap-playlist-line {
    display: flex;
    cursor: default;
    justify-content: space-between;
}

.audioplayer .ap-playlist .ap-playlist-line:hover {
    background: #425961;
    color: #50c9da;
}

.audioplayer .ap-playlist .ap-playlist-line.ap-playlist-line-active {
    background: #425961;
    color: #32B0DA;
}

.audioplayer .ap-playlist .ap-playlist-body li {
    padding: 10px 50px 10px 20px;
    transition: 0.2s;
    cursor: pointer;
    line-height: 21px;
}

.music{
    height: 100%;
    padding-top: .01rem;
}

.music-photo{
    width: 60%;
    height: 0;
    padding-bottom: 40%;
    margin: 5rem auto;
}

/*跳动音符*/
.demo-music {
    position: absolute;
    top: 70%;
    left: 50%;
    opacity: .6;
    transform: translate(-50%, -50%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.demo-music #waves1 {
    flex-direction: row;
    justify-content: center;
    animation: go_out 2s;
    height: 15rem;
    position: relative;
    display: flex;
    transform: rotate(180deg);
}


.demo-music #waves {
    flex-direction: row;
    justify-content: center;
    animation: go_in 1s;
    opacity: 1;
    visibility: visible;
    height: 15rem;
    position: relative;
    display: flex;
    transform: rotate(180deg);
}



@keyframes go_in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


@keyframes go_out {
    0% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
    }
}



.demo-music #waves li {
    list-style: none;
    height:8rem;
    width: 2rem;
    margin-right: .5rem;
    border-radius: 0 0 .5rem .5rem;
    background: linear-gradient(90deg, #80d6ff, #ff6abd, #fff05b, #80d6ff);
    background-size: 500%;
}

#waves1 li{
    animation: waves 0.8s linear 0s 1  !important;
    /*display: none;*/
}

.demo-music #waves .li1 {
    animation: waves 0.8s linear 0s infinite alternate;
}

.demo-music #waves .li2 {
    animation: waves 1s linear 0s infinite alternate;
}

.demo-music #waves .li3 {
    animation: waves 0.6s linear 0s infinite alternate;
}

.demo-music #waves .li4 {
    animation: waves 0.8s linear 0s infinite alternate;
}

.demo-music #waves .li5 {
    animation: waves 0.3s linear 0s infinite alternate;
}

.demo-music #waves .li6 {
    animation: waves 0.5s linear 0s infinite alternate;
}

.demo-music #waves .li7 {
    animation: waves 0.9s linear 0s infinite alternate;
}

.demo-music #waves .li8 {
    animation: waves 1.1s linear 0s infinite alternate;
}


@keyframes waves {
    10% {
        height: 20%;
    }
    20% {
        height: 60%;
        background-position: -100% 0;
    }
    40% {
        height: 40%;
    }
    50% {
        height: 100%;
    }
    70% {
        height: 30%;
    }
    100% {
        height: 50%;
    }
}

.music-time{
    height: 20rem;
    padding-top: 5rem;
    font-size: 10rem;
    color: #fff;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.music-time>p:nth-child(2){
    font-size: 1.5rem;
}

.music-time>p:nth-child(3) {
    font-size: 2rem;
}
